
;First version very simplified
[|NAME|]
type=registration
outbound_auth=|NAME|
server_uri=sip:|DEFAULTUSER|@|HOST|:PORT|
client_uri=sip:|DEFAULTUSER|@|HOST|:PORT|
 
[|NAME|]
type=auth
auth_type=userpass
password=|SECRET|
username=|DEFAULTUSER|
 
[|NAME|]
type=aor
contact=sip:|HOST|:PORT|
 
[|NAME|]
type=endpoint
context=context-incoming-|NAME|
disallow=all
allow=ulaw
outbound_auth=|NAME|
aors=|NAME|
 
[|NAME|]
type=identify
endpoint=|NAME|
match=|HOST|