register => |DEFAULTUSER|@|HOST|:|SECRET|:|DEFAULTUSER|@|OUTBOUNDPROXY|:5060/|NAME|
;|DEFAULTUSER|@|HOST|:|SECRET|:|DEFAULTUSER|@|HOST|@|OUTBOUNDPROXY|:5060/|DEFAULTUSER| byFrancYescO how get rid of crappy @|HOST|@?