
[|NAME|]
host          = |HOST|
username      = |DEFAULTUSER|
defaultuser   = |DEFAULTUSER|
secret        = |SECRET|
context       = context-incoming-|NAME|
hasexten      = no
hasiax        = no
hassip        = yes
registeriax   = no
registersip   = yes
outboundproxy = |OUTBOUNDPROXY|
fromuser          = |DEFAULTUSER|
fromdomain          = |HOST|
insecure = no
disallow = all
allow = alaw,ulaw,g729,g726
